<p> C# .Net Core Android/Kotlin Python NodeJS</p>
<p> Rust Lang</p>
<p> Flutter SDK</p>
<p> Keras/tensorflow Machine Learning Neural Networks</p>
<p> VUE.JS Vuetify</p>
<p> Javascript ES5 ES6</p>
<p> ASP.NET WebForm MVC Webapi REST</p>
<p> Firebase Firestore Cloud Functions(nodejs8) Remote Config Analytic Big Data ...</p>
<p> Linux Development Environment(Ubuntu,debian,arch..)</p>
<p> NodeJS expressJS</p>
<p> Kotlin/Java Android Native SDK Development</p>
<p> WPF WCF Soap</p>
<p> HTML5 CSS CSS3 JQuery</p>
<p> LINQ Entity Framework Code-First Database-First</p>
<p> MySQL MSSQL TSQL PostgreSQL NOSQL MongoDb Cochbase</p>
<p> Back-End RabitMQ MSMQ REDIS MEMCACHE HA PROXY ...</p>
<p> Oracle PLSql Stored Procedure</p>
<p> Websocket SignalR</p>
<p> Docker Kubernate</p>
<p> Amazon Web Services AWS EC2 S3 SQS ELB Kubernate ...</p>
<p> Google Cloud</p>