<p> C# C/C++ Android/Kotlin Python JS/NodeJS Dart GoLang</p>
<p> Android (Java/Kotlin) . Flutter SDK .IOS </p>
<p> Kubernetes on Google Cloud K8S Ingress Configuration</p>
<p> Keras/tensorflow TFLite Machine Learning on Edge Devices . Android IOS</p>
<p> VUE.JS Vuetify</p>
<p> ASP.NET WebForm MVC Webapi REST</p>
<p> Firebase Firestore Cloud Functions(nodejs8) Remote Config Analytic Big Data ...</p>
<p> MySQL MSSQL TSQL PostgreSQL NOSQL MongoDb Cochbase</p>
<p> Oracle PLSql Stored Procedure</p>
<p> Nats REDIS RabitMQ MEMCACHE HA PROXY Nginx ...</p>
<p> Docker . Continious Integration . DevOPS</p>
<p> Cloud Development AWS . Google Cloud </p>
<p> Linux Development Environment(Ubuntu,debian,arch..)</p>
